.NavbarItems {
    background: linear-gradient(90deg, rgb(79, 165, 219) 0%, rgb(163, 188, 204) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
}

.nav-links {
    color: white;
}

.nav-links:hover {
    background-color: aqua;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}